.nav-bar {
    width: 20%;
    height: 100%;
    float: left;
    background-color: #5b7cfd;
}
.nav-bar table {
    width: 100%;
    margin-top: 40px;
    text-align: center;
}
.nav-bar table tr {
    cursor: pointer;
    font-size: 15px;
    font-weight: 300;
    line-height: 50px;
    padding-left: 30px;
    color: white;
}
.nav-bar table tr:hover {
    background-color: #3e64fc;
}
.display {
    width: 80%;
    height: 100%;
    float: right;
    background-color: #d8e0fe;
}
.container {
    height: 100vh;
}
.user-info {
    margin-top: 40%;
}
.user-picture {
    margin-left: 34%;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.user-name {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0px;
}
.user-email {
    color: white;
    opacity: 0.5;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    margin-top: 0px;
}
.disabled {
    opacity: 0.7;
}
.enabled {
    background-color: #3e64fc;
}

i {
    padding-right: 10px;
}
