<div class="home-container">
  <div class="header">
    <span class="heading">Site Details</span>
    <span class="add-new-site">
      <button (click)="addNewSite()" class="btn-add-new-site">
        + Add New Site
      </button>
    </span>
  </div>
  <div class="search-bar">
    <i class="fa fa-search search-icon"></i>
    <input
      #filterInput
      type="text"
      class="search-box"
      results="0"
      (input)="globalFilterHandler(filterInput.value)"
      placeholder="Search records"
    />
  </div>
  <div class="header-row">
    <div *ngFor="let header of headers" class="item">
      {{ header.header }}
    </div>
  </div>
  <div
    class="data-row"
    *ngFor="let data of domains"
    (click)="expandCollapse(data)"
  >
    <div
      *ngFor="let header of headers"
      class="item table-item"
      [ngSwitch]="header.field"
    >
      <ng-container *ngSwitchCase="'storage'">
        <div class="w3-border custom-w3-border">
          <div class="custom-w3-green" [ngStyle]="setBar(data)"></div>
        </div>
        <p class="data-storage">{{ data.usedStorage }} of {{ data.storage }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'status'">
        <span
          [ngClass]="{
            active: data.status == 'Active',
            inactive: data.status == 'Inactive'
          }"
        >
          {{ data[header.field] }}
        </span>
      </ng-container>
      <ng-container *ngSwitchCase="'domainTag'">
        {{ data.subDomain.length }} / 10
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{ data[header.field] }}
      </ng-container>
    </div>
    <div class="sub-domain-items" *ngIf="data.isOpen">
      <div class="data-row" *ngFor="let subDomain of data.subDomain">
        <div
          *ngFor="let header of headers"
          class="item table-item"
          [ngSwitch]="header.field"
        >
          <ng-container *ngSwitchCase="'storage'">
            <div class="w3-border custom-w3-border small-bar">
              <div
                class="custom-w3-green small-bar"
                [ngStyle]="setBar(subDomain)"
              ></div>
            </div>
            <p class="data-storage">
              {{ subDomain.usedStorage }} of {{ subDomain.storage }}
            </p>
          </ng-container>
          <ng-container *ngSwitchCase="'status'">
            <span
              [ngClass]="{
                active: data.status == 'Active',
                inactive: data.status == 'Inactive'
              }"
            >
              {{ subDomain[header.field] }}
            </span>
          </ng-container>
          <ng-container *ngSwitchCase="'domainTag'">
            <span
              [ngClass]="{
                primary: subDomain.domainTag == 'Primary',
                stagging: subDomain.domainTag == 'Stagging',
                addOn: subDomain.domainTag == 'Add-On'
              }"
            >
              {{ subDomain[header.field] }}
            </span>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ subDomain[header.field] }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
