<div class="home-container">
  <div class="header">
    <span class="heading">Site Details</span>
    <span class="add-new-site">
      <button (click)="addNewSite()" class="btn-add-new-site">
        + Add New Site
      </button>
    </span>
  </div>
  <div class="search-bar">
    <span>Show</span>
    <input #entries type="number" class="number-input" value="10" (input)="changeEntries(entries.value)">
    <span>Entries</span>
    <i class="fa fa-search search-icon"></i>
    <input #filterInput type="text" class="search-box" results="0"
        (input)="globalFilterHandler(filterInput.value)"
        placeholder="Search records">
  </div>
  <div class="header-row">
    <div *ngFor="let header of headers" class="item">
      {{ header.header }}
    </div>
  </div>
  <div class="data-row" *ngFor="let data of domains"
      (click)="expandCollapse(data)">
    <div class="item table-item">
      {{ data.domain }}
    </div>
    <div class="item table-item">
      <div class="custom-w3-border">
        <div class="custom-w3-green" [ngStyle]="setBar(data)"></div>
      </div>
      <p class="data-storage">
        {{ data.usedStorage }} of {{ data.storage }}
      </p>
    </div>
    <div class="item table-item">
      <div class="custom-w3-border">
        <div class="custom-w3-green" [ngStyle]="setBar(data)"></div>
      </div>
      <p class="data-storage">
        {{ data.montlyVisitor }} of {{ data.monthlyVisitorCapacity }}
      </p>
    </div>
    <div class="item table-item available-domain">
      {{ data.usedDomains }}/{{ data.availableDomains }}
    </div>
    <div class="item table-item">
      <span [ngClass]="{
        active: data.status == 'Active',
        inactive: data.status == 'Inactive'
      }">{{ data.status }}</span>
    </div>
    <div class="sub-domain-items" *ngIf="data.isOpen">
      <div class="data-row" *ngFor="let subdomain of data.subdomain">
        <div class="item table-item">
          {{ subdomain.name }}
        </div>
        <div class="item table-item">
          <p class="data-storage">{{ subdomain.usedStorage }}</p>
        </div>
        <div class="item table-item">
          <p class="data-storage">
            {{ subdomain.montlyVisitor }}
          </p>
        </div>
        <div class="item table-item">
          <span [ngClass]="{
                primary: subdomain.domainTag == 'Primary',
                stagging: subdomain.domainTag == 'Staging',
                addOn: subdomain.domainTag == 'Add On'
              }">{{ subdomain.domainTag }}</span>
        </div>
        <div class="item table-item">
          <span [ngClass]="{
            active: (data.status == 'Active' || !data.status),
            inactive: data.status == 'Inactive'
          }">{{ data.status ? data.status :'Active' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
