.home-container {
    padding: 30px 0px 0px 30px;
}
.home-container .add-new-site {
    float: right;
    margin-right: 30px;
}
.home-container .add-new-site .btn-add-new-site {
    background-color: #5b7cfd;
    border: 1px solid #5b7cfd;
    border-radius: 5px;
   /* size: 27px;
    */
    width: 150px;
    height: 45px;
    font-size: 13px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.home-container .add-new-site .btn-add-new-site:hover {
    background-color: #3e64fc;
}
.home-container .heading {
    font-size: 30px;
}
.home-container .header-row {
    margin-right: 30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    background-color: #f9fbfd;
    border-radius: 7px;
    line-height: 40px;
    color: #9aa1b2;
}
.home-container .item {
    width: 20%;
    font-weight: bold;
}
.table-item {
    color: black;
    margin-top: 10px;
}
.data-storage {
    margin-top: 0px;
    margin-bottom: 0px;
}
.home-container .data-row {
    max-width: 100%;
    margin-right: 30px;
    display: flex;
    flex: 1;
    flex-direction: row;
    text-align: center;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    line-height: 40px;
    color: #9aa1b2;
    overflow-wrap: break-word;
    flex-wrap: wrap;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.30);
}
.home-container .data-row:hover {
    cursor: pointer;
}
.home-container .data-row .sub-domain-items {
    width: 100%;
    border-radius: 5px !important;
}
.home-container .data-row .sub-domain-items .data-row {
    margin: 0 !important;
    background-color: #eff2f5 !important;
    border-radius: 0px !important;
    box-shadow: none !important;
}
.active {
    background-color: #c5edee;
    padding: 5px;
    border-radius: 7px;
    color: #46aaa8;
}
.inactive {
    background-color: #e78787;
    padding: 5px;
    border-radius: 7px;
    color: #f13333;
}
.search-bar {
    margin-top: 20px;
    text-align: left;
}
.search-bar .search-box {
    width: 250px;
    border-radius: 5px;
    border: none;
    background-color: #e7eef7;
    font-size: 13px;
    font-weight: 400;
    opacity: 1.0;
}
.search-icon {
    margin-right: 5px;
}
.primary {
    background-color: #d6ddf9;
    padding: 5px;
    border-radius: 7px;
    color: #8098f7;
}
.stagging {
    border-radius: 7px;
    background-color: #f1daf2;
    padding: 5px;
    color: #e492e2;
}
.addOn {
    border-radius: 7px;
    background-color: #f7eee3;
    padding: 5px;
    color: #f8c77c;
}
.custom-w3-border {
    margin: 7px 10px 0px 0px;
    border-radius: 5px;
    background-color: #e7eef7;
    border: none;
}
.custom-w3-green {
    background-color: #33cc86;
    height:20px;
    border-radius: 5px;
}
.small-bar {
    height: 15px !important;
}
.available-domain {
    color: blue;
}